body {
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{   
    text-decoration: none;
}
 
.bg-img {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/pexels-pixabay-273209.jpg");
    min-height: 40vh;
    /* max-height: 20vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;
}

/* Topnav ko space-between karna */



#logo{
    font-size: 2.5rem;
}




.au{
    position: relative;
    font-size: 4rem; 
    color: aliceblue;
    text-align: center;
    margin-bottom: 1px;
    /* bottom: -100px; */
}



.im img{
    width: auto;
    height: 500px;
}

.flex-items-2{
    display: flex;
    /* width: 100vh; */
    justify-content: center;
    align-items: center;
    margin: 7rem;
}

.fItem .text{
    font-size: 3rem;
}

.text{
    
    padding: 100px;
    margin: 23px;
}


.bHead{
    font-size: 4rem;

}




  
.abtUs{
    text-align: center;

}
.abtUs .head{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.abtUs .head .subH{
    width: 1400px;
    margin: auto;
}


.links{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
}
.links a{
    padding: 5px;
    /* margin: 10px; */
}

#lg{
    color: white;
}











.au{
    /* position: relative; */
    font-size: 4rem; 
    color: aliceblue;
    text-align: center;
    margin-top: 4rem;
}







nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 30px;
}

.nav-links{
    /* flex: 1;  */
    /* text-align: right; */
    padding: 50px 50px;
    z-index: 59;
    overflow: hidden;
    scroll-behavior: auto;
}

nav a{
    text-decoration: none;  
    color: wheat;
    font-size: 3rem;
}

nav li{
    list-style: none;
    display: inline-block; 
    position: relative;
    padding: 2.5rem;
}

nav li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav li:hover:after{
    width: 100%;
}

nav .fa-plus-square{
    display: none ;
    position: absolute;
    top: 20px;
    right:  20px;
    color: wheat;
} 


nav .fa-close{
    display: none ;
    position: absolute;
    top: 0;
    left: 0px;
    color: wheat;
} 


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }




@media(max-width:860px) {


    .nav-links {
        position: absolute;
        top: 0;
        right: -100%;
        display: block;
        height: 100vh;
        background: rgb(112, 156, 150);
        flex-direction: column;
    }
    .nav-links li{
        width: 150px;
        /* margin-top: 40px; */
        display: block;
        
        padding-top: 40px;
    }
    nav a {
        position: absolute;
        top: 0px;

    }
    nav .fa-plus-square{
        display: block ;
    } 
    

    nav .fa-close{
        display: block;
    }
    
    .ser{
        flex-wrap: wrap;
    }

    .serFlex{
        flex-basis: 100%;
        flex-wrap: wrap;
    }

}
